/* Reset & base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f5faff;
  color: #333;
}

/* Navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  background: #0a70ac;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  box-sizing: border-box;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
}
.logo img {
  height: 170px;
  padding-top: 35px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3.5rem;
  height: 5px;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}
.nav-links a.active,
.nav-links a:hover {
  color: #94d2bd;
   transform: translateY(-2px);
}
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

/* Onda SVG container - embaixo da navbar */
.wave-container {
  position: fixed;
  top: calc(80px - 1px); /* logo abaixo da navbar (80px) */
  left: 0;
  width: 100%;
  height: 150px; /* altura da onda */
  overflow: hidden;
  line-height: 0;
  z-index: 15; /* atrás da navbar, na frente do conteúdo */
}
.wave-container svg {
  display: block;
  width: 100%;
  height: 150px;
}

footer {
  background: #0a70ac;
  color: #fff;
  padding: 22px 20px;
  font-size: 0.9rem;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

/* esquerda real */
.footer-left {
  justify-self: start;
  text-align: left;
}

/* centro real */
.footer-center {
  justify-self: center;
  text-align: center;
}

.footer-center img {
  height: 85px;
  margin-top: 6px;
}

.author {
  font-size: 0.8rem;
  opacity: 0.8;
}

/*  mobile */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 12px;
    text-align: center;
  }

  .footer-left,
  .footer-center {
    justify-self: center;
    text-align: center;
  }
}

/* Responsividade */
@media (max-width: 768px) {
   .navbar {
    padding: 0 1rem; /* antes era 0 5rem */
  }
  .nav-links {
    position: fixed;
    right: 0;
    top: 80px;
    background: #0a70ac;
    height: calc(100% - 80px);
    width: 200px;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.3s;
    padding-top: 1rem;
  }
  .nav-links.show {
    transform: translateX(0);
  }
  .menu-toggle {
    display: block;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .calculadora {
    max-width: 90%;
    margin: 30px auto;
  }
}
html {
  scroll-padding-top: 110px;
  scroll-behavior: smooth;
}
body {
  padding-top: env(safe-area-inset-top);
}
@supports (-webkit-touch-callout: none) {
  .hero {
    min-height: calc(100vh - 80px);
  }
}

