/* Produtos */
.section-produtos {
  padding: 190px 20px 60px; /* espaço para navbar fixa + margem */
  max-width: 1100px;
  margin: 0 auto;
}
.section-produtos h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  text-align: center;
}
.section-produtos h4 {
  margin-bottom: 15px;
  font-size: 0.8 rem;
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
.card img {
  width: 80%;
  height: 250px;
  object-fit: cover;
}
.card h3 {
  margin: 15px 0 10px;
  color: #005f73;
}
.card p {
  padding: 0 15px 15px;
  font-size: 0.95rem;
  color: #555;
}

/* Calculadora */
.calculadora {
  padding: 60px 20px;
  background: #e0f7fa;
  text-align: center;
  max-width: 500px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.calculadora h2 {
  margin-bottom: 20px;
  color: #0a70ac;;
  font-size: 1.8rem;
}
.formulario {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.formulario label {
  font-weight: 600;
  text-align: left;
  color: #0a70ac;;
}
.formulario input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.formulario input:focus {
  border-color: #0a70ac;;
  outline: none;
}
.formulario button {
  padding: 12px;
  background-color: #0a70ac;;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.formulario button:hover {
  background-color: #005f73;
}
#resultado {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #0a70ac;;
  font-weight: 600;
}
.calculadora {
  scroll-margin-top: 110px;
}